div.main_container {
    width: 300px;
    height: auto;
    background-color: aliceblue;
    border: solid gray;
}

.display {
    width: 293px;
    text-align: right;
    margin: auto;
    display: block;
}

table {
    width: 100%;
    text-align: center;
}

button_container {
    width: 95%;
    text-align: center;
}

button {
width: 100%;
}

td {
min-width: 10px;
}
